<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Завдання 2
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент групи КН-31 Вербицький А. Т. варіант 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        На заданому
        проміжку чисел [a,b]
        підрахуйте добуток
        чисел, кратних 7 і менших, ніж 30.
      </p>
      <ion-item>
        <ion-label position="floating">First number: </ion-label>
        <ion-input type="number" #firstNumber></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Second number: </ion-label>
        <ion-input type="number" #secondNumber></ion-input>
      </ion-item>
      <ion-button id="calc-btn" (click)="calculate(firstNumber.value, secondNumber.value)">Calculate</ion-button>
    </ion-card-content>
    <ion-item>
      <p>Result: {{calcResult}}</p>
    </ion-item>
  </ion-card>
</ion-content>
