<<app-my-header title="Лабораторна робота №3"/>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Необхідно додати у розроблений в попередній лабораторній роботі
        застосунок сторінку для обробки JSON файлу отриманого з серверу.
        Сторінку викликати у головному меню застосунку.
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Type month number: </ion-label>
        <ion-input type="number" #month></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="fetchAll()">Get all</ion-button>
      <ion-list *ngFor="let i of magazines">
          <ion-label [ngStyle]="{color: getColor(month.value, i)}">
            <h2>{{i.name + ', #' + i.number}}</h2>
          </ion-label>
          <ion-text>
            <p>{{'Release Date: ' + i.releaseDate}},
              {{'Number of pages: ' + i.pagesNumber}}</p>
          </ion-text>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
