<app-my-header title="Лабораторна робота №4"/>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Необхідно додати у розроблений в попередній лабораторній роботі
        застосунок сторінку для роботи з абстрактними класами. Сторінку викликати
        у головному меню застосунку.
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Number of vehicles: </ion-label>
        <ion-input type="number" #number></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="generateVehicles(number.value)">Generate</ion-button>
      <ion-list *ngFor="let i of vehicles">
        <ion-label>
          <h2>{{i.name}}</h2>
        </ion-label>
        <ion-text>
          <p>{{'Cost: ' + i.cost()}}</p>
        </ion-text>
      </ion-list>
      <ion-item>
        <h2>Average planes cost: {{average('Plane')}}</h2>
      </ion-item>
      <ion-item>
        <h2>Average ships cost: {{average('Ship')}}</h2>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
