<app-my-header title="Лабораторна робота №2"/>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Лабораторна робота №2
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        Створити додаток для табулювання і виведення на екран значення функції,
        також побудувати графік функції.
        Вирази для функції f1 (x), f2 (x) і f3 (x) вибрати з таблиці. У формі
        передбачити поля для введення значення параметра а і змінної х, виведення
        результату обчислення y, а також кнопки для здійснення розрахунку. Вирази
        для функції f1 (x), f2 (x) і f3 (x) вибрати з таблиці.
      </ion-text>
      <ion-item>
        <ion-label position="floating">Xn</ion-label>
        <ion-input type="number" id="xn" value="-4.2" #inputXn></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Xk</ion-label>
        <ion-input type="number" id="xk" value="28.1" #inputXk></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Xh</ion-label>
        <ion-input type="number" id="xh" value="0.1" #inputXh></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">a</ion-label>
        <ion-input type="number" id="a" value="10" #inputA></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="graph(inputXn.value, inputXk.value, inputXh.value, inputA.value)">
        Calculate
      </ion-button>
      <ion-item>
        <canvas #lineCanvas></canvas>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
